     
/*-----------------------------------------------------------------------------------*/
/* CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/* End Reset */

/*///////////////////////////*/
/* ////Table of Contants//// */
/*///////////////////////////*/

/*//////// 1. Structure */
/*//////// 2. Type & Links */
/*//////// 3. Avatar */
/*//////// 4. Navigation */
/*//////// 5. Grid */

/*///////////////////*/
/* ////Structure//// */
/*///////////////////*/

html,body {
height:100%;
margin:0;
padding:0;
}

body {
  font-family:  'proxima_nova_rgregular', 'Gotham', 'Proxima Nova', 'Ubuntu', sans-serif;
  background-color: #ff6600;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  }

 #container {
 	padding: 50px;
 }

#intro {
	padding: 160px 0;
	position: relative;
  background: url(http://s3.amazonaws.com/hammer-production/5704501/5/assets/images/header.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       background-position: 0 -100px;
}

#work, #about, #resume, #contact, .project {
min-height:100%;
position:relative;
}

#about {
	background: #FFFFFA;
}

.work, .project {
	padding: 5% 0;
	max-width: 800px;
	margin: 0 auto;
}

.about, .contact {
	max-width: 600px;
}

/*//////////////////////*/
/* ////Type & Links//// */
/*//////////////////////*/

@font-face {
    font-family: 'proxima_nova_ltregular';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '../fonts/proxima_nova_ltbold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	text-decoration: none;
	color: rgba(0,0,0,0.5);
}

p, li {
	font-size:1.5em;
	line-height: 30px;
	margin: 5px 0;
	color: rgba(0,0,0,0.5);
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

#contact a:hover {
  color: #FFFFFA;
  font-size: 1.505em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

span.amp {
   font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
	 color: #FF6600;
}

.resume, .about {
	padding: 0 5%;
}

.heading{
-webkit-font-smoothing: antialiased;
display: block;
font-size: 32px;
font-weight: normal;
line-height: 36px;
margin: 15px 0 5px;
min-height: 0px;
position: static;
text-align: center;
text-decoration: none;
color: #FFFFFA;
}
	
	.tab .heading {
		border-radius: 0 0 4px 4px;
		background-color: #FF6600;
		margin: 0 auto;
		padding: 10px;
		max-width: 300px;
	}

  #work .tab .heading, #contact .tab .heading {
    background-color: #FFFFFA;
    color: #FF6600;
  }

.subheading{
	font-size:24px;
	margin: 5px 0;
	color: rgba(0,0,0,0.3);
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size:24px;
	margin: 5px 0;
	color: #fff;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.contact h3 {
	line-height: 30px;
}

.contact p {
  color: #FFFFFA;
}

.contact li, .resume li, .about li {
	font-size:18px;
	margin: 5px 0;
	color: rgba(0,0,0,0.5);
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.contact li:before, .resume li:before, .about li:before { 
    content: "";
    border-color: transparent rgba(0,0,0,0.5);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.contact small, .resume small, .about small {
	font-size:14px;
	height: 18px;
	margin: 5px 0;
	font-family:  'proxima_nova_rgregular', 'Gotham', 'Proxima Nova', 'Ubuntu', sans-serif;
	color: #fff;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.contact{
	padding: 5%;
	width: 90%;
	margin: 0 auto;
}

.about {
	padding: 10% 0 5% 0;
  width: 90%;
  margin: 0 auto;
}


/*////////////////*/
/* ////Avatar//// */
/*////////////////*/

.hello {
   width: 400px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -200px;
   margin-top: -150px;
}


.avatar { 
  background: url(http://jayeis.me/remake/img/patch.jpg) no-repeat center;
  width: 150px;
  height: 150px;
  border-radius: 5%;
  position: relative;
  margin: 20px auto 10px;
  box-shadow: inset 0 0 0 4px #FFFFFA;
}

#avatar-desc {
  font-weight: 400;
  width: 360px;
  margin: 0 auto;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  text-shadow: none;
}

#avatar-desc h1 {
-webkit-font-smoothing: antialiased;
display: block;
font-size: 32px;
font-weight: normal;
height: 39px;
margin: 21px 0;
min-height: 0px;
position: static;
text-align: center;
text-decoration: none;
color: #FFFFFA;
}

#avatar-desc p {
color: rgba(250,250,250,0.8);
font-size: 24px;
text-align: center;
}

  
/*////////////////////*/
/* ////Navigation//// */
/*////////////////////*/

.nav {
    z-index: 2;
    position: fixed;
    bottom:0;
    text-align: right;
    left: 0;
}

.nav button {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0, 0.5);
    position: relative;
    text-align: center;
    color: #e6e6e6;
    text-decoration: none;
    border:0;
    cursor:pointer;
    border-radius: 0 5px 0 0; 
}

.nav a:hover {
    color: #FFF;
}

.nav a:active {
    background-color: #333;
}

  
.navigation.icon:before {
  background: url('http://smorrs.com/dev/css/img/nav-sprites.png') no-repeat;
  content: "";
  position: relative;
  float: left;
  }
  
.navigation.left.icon:before {
  background: url('http://smorrs.com/dev/css/img/nav-sprites.png') no-repeat -1px -5px;
  width: 15px;
  height: 15px;
  top: 12.5px;
  margin-left: 5px;
  margin-bottom: 20px;
}

#menu { display: none; }
    #menu a { background: #CCC; color: #333; font-weight: bold; padding: 5px 10px; border: none; }
    #menu a:hover { background: #aaa; } 

.down {
	position: absolute;
	background-color: rgba(0,0,0, 0.2);
	bottom: 0;
	left: 50%;
	padding: 10px;
	text-align: center;
	border-radius: 5px 5px 0 0;
}

.down h3 {
  	font-family:  sans-serif;
  	color: #fff;
  	font-size: 24px;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
}

.pointer {
	margin: 0 auto;
}

.icon {
    height: 32px;
    width: 32px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    color: rgba(0,0,0,0.3);
}

/* Pointer Down */
.icon .pointerDown {
    width: 10px;
    height: 10px;
    border: solid rgba(255,102,0,0.25);
    border-width: 6px 6px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 5px 0 0 8px;

}
/* Pointer Top */
div.icon div.pointerTop {
    width: 10px;
    height: 10px;
    border: solid rgba(0,0,0,0.3);
    border-width: 6px 6px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 10px 0 0 8px;
}

/* Panel */

.menu-icon {
    color: #FF6600;
    text-align: center;
    font-size: 34px;
    font-family: 'Icon';
    top: 16px;
}
.panel-btn {
    position: fixed;
    z-index: 2;
    top: 30%;
    left: 0;
    width: 50px;
    height: 70px;
    -webkit-border-radius: 0 7% 7% 0;
    -moz-border-radius: 0 7% 7% 0;
    border-radius: 0 7% 7% 0;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.panel-btn .toggle-menu {
    position: absolute;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    cursor: pointer;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: normal;
}
.page-wrap {
    float: right;
    width: 100%;
    margin: 0 auto;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.panel-inner-check {
    display: none;
}
.panel-inner {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #EEEEEE;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.panel-inner:after {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 45px;
    width: 33.33%;
    height: 100%;
    content: "";
    content: ""}

.panel-inner ul {
  margin: 0 auto;
  width: 90%;
  position: relative;
  top: 28%;
  height: 100%;
}

.panel-inner li {
  text-align: center;
  position: relative;
}

.close-menu {
    display: none;
}
.panel-inner-check {
    display: none;
}
#panel-inner-check:checked+#panel-inner {
  width: 20%  
}
#panel-inner-check:checked ~ .page-wrap {
    width: 80% 
}
#panel-inner-check:checked ~ .page-wrap .open-panel {
    display: none;
}
#panel-inner-check:checked ~ .page-wrap .close-menu {
    display: block;
}
#panel-inner-check:checked ~ .page-wrap .panel-btn  {
  left:  20%
}



/*//////////////////*/
/* ////The Grid//// */
/*//////////////////*/

.grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.grid:after,
.grid-item:before {
    content: '';
    display: table;
}
 
.grid:after {
    clear: both;
}
 
.grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.grid-item {
  width: 100%;
  height: 100%;
	border-radius: 5%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.grid-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.grid-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.grid-info .grid-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}


.grid-img-1 { 
	background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/873692/screen_shot_2012-12-28_at_6.34.06_pm_1x.png);
}

.grid-img-2 { 
	background-image: url(http://dribbble.s3.amazonaws.com/users/60014/screenshots/896475/remake_1x.png);
}

.grid-img-3 { 
	background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/898181/creadivs-_animation_.gif);
}

.grid-img-4 { 
  background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/614596/screen_shot_2012-06-21_at_4.38.45_pm.png);
}

.grid-img-5 { 
  background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/927891/smorrs_desktop_home_1x.jpg);
}

.grid-img-6 { 
  background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/915589/gallant_1x.jpg);
}

.grid-img-7 { 
  background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/875838/screen_shot_2012-12-31_at_4.58.24_pm_1x.png);
}
.grid-img-8 { 
  background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/614620/screen_shot_2012-06-21_at_4.55.47_pm.png);
}
.grid-img-9 { 
  background-image: url(http://dribbble.s3.amazonaws.com/users/20605/screenshots/586139/screen_shot_2012-06-01_at_12.17.18_pm.png);
}

/*///////////////////////*/
/* ////Media Queries//// */
/*///////////////////////*/

@media all and (max-width: 1030px) {
  #intro {
    min-width: 100%;
    position: relative;
    background: url(http://s3.amazonaws.com/hammer-production/5704501/5/assets/images/header.jpg) no-repeat center center;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         background-position: 0;
  }
}       

@media all and (max-width: 400px) {
  p, li {
    font-size:1em;
    line-height: 1.25em;
}

  #avatar-desc p, #avatar-desc h1 {
  background-color: rgba(0,0,0,0.4);
  }
  .panel-btn {background-color: rgba(0,0,0,0.0);}
  .hidden, .menu-icon {
    display: none;
}

}
